RewriteEngine On

<IfModule mod_headers.c>
    Header set Connection keep-alive

    #Resim dosyaları browser'a cachelenip sunucudan tekrar tekrar istenmesinin önüne geçmek için
    <FilesMatch "\.(flv|gif|jpg|jpeg|png|ico)$">
        Header set Cache-Control "max-age=2629000" #1 aylık yaşam süresi belirledik
    </FilesMatch>

    <filesMatch "\.(css)$">
            Header set Cache-Control "max-age=604800, public, must-revalidate" #1 haftalık
            #Header set Cache-Control "max-age=0, public, must-revalidate"
    </filesMatch>
</IfModule>

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_URI} !\.css$
RewriteCond %{REQUEST_URI} !\.js$
RewriteCond %{REQUEST_URI} !\.zip$

RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
